doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Hello World

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    article

      section
        h1 Instagram
        ul
        li Disusun Oleh :
        li Sally Kusumo (12.111.0472)
        li Vinson Theodoric (12.111.0600)
        li M.Arsyad (12.111.3576)
        ul
      section
        h1 Sejarah Instagram        
        p Berdiri pada tahun 2010 perusahaan Burbn, Inc., merupakan sebuah teknologi startup yang hanya berfokus kepada pengembangan aplikasi untuk telepon genggam. Pada awalnya Burbn, Inc. sendiri memiliki fokus yang terlalu banyak di dalam HTML5 mobile, namun kedua CEO, Kevin Systrom dan juga Mike Krieger, memutuskan untuk lebih fokus pada satu hal saja. Setelah satu minggu mereka mencoba untuk membuat sebuah ide yang bagus, pada akhirnya mereka membuat sebuah versi pertama dari Burbn, namun di dalamnya masih ada beberapa hal yang belum sempurna. Versi Burbn yang sudah final, aplikasi yang sudah dapat digunakan di dalam iPhone, yang dimana isinya terlalu banyak dengan fitur-fitur. Sulit bagi Kevin Systrom dan Mike Krieger untuk mengurangi fitur-fitur yang ada, dan memulai lagi dari awal, namun akhirnya mereka hanya memfokuskan pada bagian foto, komentar, dan juga kemampuan untuk menyukai sebuah foto. Itulah yang akhirnya menjadi Instagram.
      
      section
        h2 Asal Mula Nama Instagram
        p Nama instagram berasal dari pengertian dari keseluruhan fungsi aplikasi ini. Kata “insta” berasal dari kata “instan”, seperti kamera polaroid yang pada masanya lebih dikenal dengan sebutan “foto instan”. Instagram juga dapat menampilkan foto-foto secara instan, seperti polaroid di dalam tampilannya. Sedangkan untuk kata “gram” berasal dari kata “telegram”, dimana cara kerja telegram sendiri adalah untuk mengirimkan informasi kepada orang lain dengan cepat. Sama halnya dengan Instagram yang dapat mengunggah foto dengan menggunakan jaringan internet, sehingga informasi yang ingin disampaikan dapat diterima dengan cepat. Oleh karena itulah Instagram berasal dari instan-telegram. Pada tanggal 9 April 2012, diumumkan bahwa Instagram akan diambil alih oleh Facebook senilai hampir $1 miliar dalam bentuk tunai dan saham


      section
        h2 Fitur-Fitur Instagram
            
        li  Pengikut
        li  Mengunggah Foto
        li  Kamera
        li  Efek Foto
        li  Judul Foto
        li  Label Foto
        li  Tanda Arroba

      section
       h2 1. Pengikut 
       p Sistem sosial di dalam Instagram adalah dengan menjadi pengikut akun pengguna lainnya, atau memiliki pengikut Instagram. Dengan demikian komunikasi antara sesama pengguna Instagram sendiri dapat terjalin dengan memberikan tanda suka dan juga mengomentari foto-foto yang telah diunggah oleh pengguna lainnya.Pengikut juga menjadi salah satu unsur yang penting, dimana jumlah tanda suka dari para pengikut sangat mempengaruhi apakah foto tersebut dapat menjadi sebuah foto yang populer atau tidak. Untuk menemukan teman-teman yang ada di dalam Instagram. Juga dapat menggunakan teman-teman mereka yang juga menggunakan Instagram melalui jejaring sosial seperti Twitter dan juga Facebook.
     
      section 
       h2 2. Mengunggah Foto 
       p Kegunaan utama dari Instagram adalah sebagai tempat untuk mengunggah dan berbagi foto-foto kepada pengguna lainnya. Foto yang hendak ingin diunggah dapat diperoleh melalui kamera iDevice ataupun foto-foto yang ada di album foto di iDevice tersebut.
     
      section
       h2 3. Kamera 
       p Foto yang telah diambil melalui aplikasi Instagram dapat disimpan di dalam iDevice tersebut. Penggunaan kamera melalui Instagram juga dapat langsung menggunakan efek-efek yang ada, untuk mengatur pewarnaan dari foto yang dikehendaki oleh sang pengguna. Ada juga efek kamera tilt-shift yang fungsinya adalah untuk memfokuskan sebuah foto pada satu titik tertentu. Setelah foto diambil melalui kamera di dalam Instagram, foto tersebut pun juga dapat diputar arahnya sesuai dengan keinginan para pengguna. Foto-foto yang akan diunggah melalui Instagram tidak terbatas atas jumlah tertentu, melainkan Instagram memiliki keterbatasan ukuran untuk foto. Ukuran yang digunakan di dalam Instagram adalah dengan rasio 3:2 atau hanya sebatas berbentuk kotak saja.Para pengguna hanya dapat mengunggah foto dengan format itu saja, atau harus menyunting foto tersebut dulu untuk menyesuaikan format yang ada. Setelah para pengguna memilih sebuah foto untuk diunggah di dalam Instagram, maka pengguna akan dibawa ke halaman selanjutnya untuk menyunting foto tersebut.
     
      section 
       h2 4. Efek Foto 
       p Pada versi awalnya, Instagram memiliki 15 efek-efek yang dapat digunakan oleh para pengguna pada saat mereka hendak menyunting sebuah foto. Efek tersebut terdiri dari: X-Pro II, Lomo-fi, Earlybird, Sutro, Toaster, Brannan, Inkwell, Walden, Hefe, Apollo, Poprockeet, Nashville, Gotham, 1977, dan Lord Kelvin. Namun tepat pada tanggal 20 September yang lalu Instagam telah menambahkan 4 buah efek terbaru yaitu; Valencia, Amaro, Rise, Hudson dan telah menghapus 3 efek, Apollo, Poprockeet, dan Gotham dari dalam fitur tersebut. Di dalam pengaplikasian efek sekalipun para pengguna juga dapat menghilangkan bingkai-bingkai foto yang sudah termasuk di dalam efek tersebut. Fitur lainnya yang ada pada bagian penyuntingan adalah Tilt-Shift. Tilt-shift ini, sama fungsinya dengan efek kamera melalui instagram, yaitu untuk memfokuskan satu titik pada sebuah foto, dan sekelilingnya menjadi buram. Dalam penggunaannya aplikasi Tilt-Shift memiliki 2 bentuk, yaitu persegi panjang dan juga bulat. Kedua bentuk tersebut dapat diatur besar dan kecilnya, juga titik fokus yang diinginkan. Tilt-shift juga mengatur rupa foto disekeliling titik fokus tersebut, sehingga para pengguna dapat mengatur tingkat buram pada sekeliling titik fokus di dalam foto tersebut.
     
      section  
       h2 5. Judul foto 
       p Setelah foto tersebut disunting, maka foto akan dibawa ke halaman selanjutnya, dimana foto tersebut akan diunggah ke dalam Instagram sendiri ataupun kejejaringan sosial lainnya. Dimana di dalamnya tidak hanya ada pilihan untuk mengunggah pada jejaringan sosial atau tidak, tetapi juga untuk memasukkan judul foto, dan menambahkan lokasi foto tersebut. Sebelum mengunggah sebuah foto, para pengguna dapat memasukkan judul untuk menamai foto tersebut sesuai dengan apa yang ada dipikiran para pengguna. Judul-judul tersebut, para pengguna dapat menyinggung pengguna Instagram lainnya dengan mencantumkan akun dari orang tersebut. Para pengguna juga dapat memberikan label pada judul foto tersebut, sebagai tanda untuk mengelompokkan foto tersebut di dalam sebuah kategori.
      
      section 
       h2 6. Label Foto 
       p Sebuah label di dalam Instagram adalah sebuah kode yang memudahkan para pengguna untuk mencari foto tersebut dengan menggunakan “kata kunci”. Dengan demikian bila para pengguna memberikan label pada sebuah foto, maka foto tersebut dapat lebih mudah untuk ditemukan. Label itu sendiri dapat digunakan di dalam segala bentuk komunikasi yang bersangkutan dengan foto itu sendiri. Para pengguna dapat memasukkan namanya sendiri, tempat dimana mengambil foto tersebut, untuk memberitakan sebuah acara, untuk menandakan bahwa foto tersebut mengikuti sebuah lomba, atau untuk menandakan bahwa foto tersebut dihasilkan oleh anggota komunitas instagram. Foto yang telah diunggah, dapat dimasukkan label yang sesuai dengan informasi yang bersangkutan dengan foto. Pada saat ini label adalah cara yang terbaik jika kita hendak mempromosikan foto di dalam instagram.
     
      section 
       h2 7. Tanda Arroba (@) 
       p Seperti Twitter dan juga Facebook, Instagram juga memiliki fitur yang dimana para penggunanya dapat menyinggung pengguna lain yang juga, dengan manambahkan tanda arroba (@) dan memasukkan akun Instagram dari pengguna tersebut. Para pengguna tidak hanya dapat menyinggung pengguna lainnya di dalam judul foto, melainkan juga pada bagian komentar foto. Para pengguna dapat menyinggung pengguna lainnya dengan memasukkan akun Instagram dari pengguna tersebut. Pada dasarnya dalam menyinggung pengguna yang lainnya, yang dimaksudkan adalah untuk berkomunikasi dengan pengguna yang telah disinggung tersebut.




      section
        h2 perbedaan instagram dan path
      section
        h2 instagram  
        p Instagram merupakan aplikasi yang memfokuskan diri pada pengalaman untuk berbagi foto ke jejaring sosial melalui perangkat mobile.
        p Tampilan yang menarik dan sederhana juga pilihan yang beragam menjadikan aplikasi ini portofolio untuk koleksi-koleksi foto Anda. Terhitung 20 filter dapat dipilih untuk menampilkan hasil foto yang lebih baik dan kreatif.
      section        
        h2 Path
        p aplikasi jejaring sosial yang memiliki tujuan utama untuk mendekatkan diri kita ke keluarga dan teman.
        p Keunggulan Path ketimbang Instagram adalah kemampuan untuk berbelanja berbagai stiker untuk digunakan baik saat update Moments, komen dan menirim pesan.

      section
       h2 Perkembangan Instagram 
       p Perkembangan Instagram sangatlah pesat  ini di buktikan dengan kepopuleran instagram yang sudah mencapai sebanyak 150 juta pengguna.
       Ini merupakan pencapaian rekor yang fantastic. Terakhir update Instagram sudah mencapai instagram 4.1 untuk platform iOS dan Android. Update instagram 4.1 ini bahkan memberikan fitur import mix video . Selain itu bagi user iOS, terdapat fitur image straightenin.
       desain instagram akan menjadi kamera digital nyata dengan merek Polaroid . Kamera saku digital bernama Socialmatic menggunakan system operasi Adroid . Perusahaan Socialmatic LCC .
      
      section
        H2 Sekian Hasil Presentasi Kami 
            TERIMAKSIH
        

      section
      
      section
     
          
        

      section(data-bespoke-hash='named-route')
        h2 Named Route
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-hash">bespoke-hash</a>
        p Look up! This route has been named with a <em>'data-bespoke-hash'</em> attribute.

      section(data-bespoke-state='emphatic')
        h2 Emphatic Slide!
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-state">bespoke-state</a>

      section
        h2.bullet Just the beginning...
        hr
        ul
          li Edit <a href="http://jade-lang.com/">Jade</a> markup in <em>'src/index.jade'</em>
          li Edit <a href="http://learnboost.github.io/stylus/">Stylus</a> styles in <em>'src/styles/main.styl'</em>
          li Edit JavaScript in <em>'src/scripts/main.js'</em>
        hr
        ul
          li
            strong Enjoy! :)
            a(href='http://twitter.com/markdalgleish')  -@markdalgleish

    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild